*.egg-info
*.mo
*.pyc
*~
.installed.cfg
.mr.developer.cfg
.python-version
bin/
coverage/
develop-eggs/
downloads/
eggs/
include/
lib/
library-settings.txt
log.html
Makefile
output.xml
parts/
report.html
selenium*
var/
