*.egg-info
*.mo
*.pyc
*~
.installed.cfg
.mr.developer.cfg
.python-version
.coverage
bin/
coverage/
develop-eggs/
downloads/
eggs/
htmlcov/
include/
lib/
library-settings.txt
log.html
output.xml
parts/
report.html
selenium*
var/
venv/
__pycache__

# mxdev
/instance/
/.make-sentinels/
/*-mxdev.txt
/reports/
/sources/
/venv/
